<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h4>Certificates</h4>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col">
            <h4>Keys</h4>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col overview-chart">
            <canvas baseChart class="chart" [data]="certificateData" [type]="chartType"></canvas>
        </div>
        <div class="col overview-chart">
            <canvas baseChart class="chart" [data]="keyData" [type]="chartType"></canvas>
        </div>
    </div>
</div>