@import "theme/custom.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    margin: 0;
}

.modal-header {
    padding: 0.5em 0.5em;
    background-color: $complementary-color;
    color: #FFF;
}

.modal-footer {
    padding: 0.5em 0.5em;
}